<!DOCTYPE html>
<html>
<head>
    <title>If You Like...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="logo-img">           
            <a href="http://127.0.1:5000/"><img src="{{ url_for('static', filename='images/ifyoulikeit.gif') }}" alt="Logo" class="logo"></a>
        </div>
    </header>

    <div id="search-container">
        <h2>Find recommendations based on what you already love!</h2>
        <form id="search-form">
            <input type ="text" id="search-input" placeholder="Enter the name of music, a book, a game, or movie..." required>

            <div class="media-type-selector">
                <label>
                    <input type="radio" name="media-type" value="music" checked> Music
                </label>

                <label>
                    <input type="radio" name="media-type" value="book"> Book
                </label>

                <label>
                    <input type="radio" name="media-type" value="game"> Game
                </label>

                <label>
                    <input type="radio" name="media-type" value="movie"> Movie
                </label><br>

                <label id="submit">
                <input type="submit" value="Submit">
                </label>
            </div>

            <div id="about">
                <a href=""
            </div>
        
         </form>
    </div>  
    
</body> 
</html>